@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-ink-bar {
  position: absolute;
  background: #898989 !important;
  pointer-events: none;
}

.ant-tabs-nav {
  margin: 0 0 0 0;
}

/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  display: none;
  width: 12px; /* Width of the scrollbar */
}

/* Remove scrollbar for WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  display: none;
}

/* Remove scrollbar for Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}

/* Remove scrollbar for Firefox */
* {
  scrollbar-width: none;
}

.R:hover {
  background-color: RED;
}

.ant-tabs-tab {
  margin: 0 0 0 15px !important;
}

.ant-tabs-nav-wrap {
  justify-content: center !important;
  align-items: center !important;
}
